/* Set body and html margin and height */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* flexbox for nav-container */
#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

/* Center page logo div to center */
#logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eff6fa;
}

#main-logo {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

/* #footer-div {
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: absolute;
  bottom: auto;
  text-align: center;
  align-items: center;
} */

#footer-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 480px) {
  #nav-container {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 481px) {
}
