body,
html {
  margin: 0;
  padding: 0;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

#logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eff6fa;
}

#main-logo {
  max-width: 50%;
  height: auto;
}

#footer-div {
  display: flex;
  flex-direction: row;
  gap: 40px;
  position: absolute;
  bottom: auto;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  #nav-container {
    display: flex;
    flex-direction: row;
  }

  #footer-div {
    text-align: center;
  }
}

@media only screen and (min-width: 481px) {
}
