/* Set body and html margin and height */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Wraps entire content in page */
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* flexbox for nav-container */
#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #eff6fa;
}

/* Content div that displays logo in center page */
#logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfe0e2;
  margin: 1%;
}

/* logo attributes */
/* #main-logo {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
} */

/* places footer at bottom of screen */
#footer-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  width: auto;
  height: 75px;
  margin: 1%;
  background-color: #eff6fa;
}

/* iPhone Media Query */
@media only screen and (max-width: 480px) {
  #nav-container {
    display: flex;
    flex-direction: row;
  }

  #logo-div {
    height: auto;
    flex-grow: 1;
  }

  #main-logo {
    object-fit: scale-down;
    max-width: 100%;
  }

  #footer-div {
    position: absolute;
    bottom: 0;
    width: auto;
  }
}

/* iPad Air Media Query */
@media only screen and (min-width: 481px) {
  #logo-div {
    flex-grow: 2;
  }
}

/* Computer Media Query */
@media only screen and (min-width: 769px) {
  #main-logo {
    margin: 0 auto;
    max-width: 50%;
    height: auto;
  }
}
