body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Wraps entire content in page */
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#home-link {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: inherit;
}

#main-logo {
  position: relative;
  top: 10px;
}

.trend-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1da1f2;
}

/* flexbox for nav-container */
#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #eff6fa;
}

/* places footer at bottom of screen */
#footer-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  width: auto;
  height: 75px;
  margin: 1%;
  background-color: #eff6fa;
}
